:root{
  --vp-c-brand: #FFCA28;
  --vp-c-brand-light: #E5B27F;
  --vp-c-brand-lighter: #FFE57F;
  --vp-c-brand-dark: #C69461;
  --vp-c-brand-darker: #BC8346;
  --vp-home-hero-image-background-image: linear-gradient( 15deg, #FFCA28 65%, #C69461 30% );
  --vp-home-hero-image-filter: blur(72px);
}

.dark{
  --vp-c-bg: #000000;
  --vp-c-bg-elv: #1a1a1a;
  --vp-c-bg-elv-up: #2a2a2a;
  --vp-c-bg-elv-down: #0a0a0a;
  --vp-c-bg-elv-mute: #1a1a1a;
  --vp-c-bg-soft: #1a1a1a;
  --vp-c-bg-soft-up: #2a2a2a;
  --vp-c-bg-soft-down: #0a0a0a;
  --vp-c-bg-soft-mute: #1a1a1a;
  --vp-c-bg-alt: #2a2a2a;
}